<div class="content" role="main">
  <span>{{ title }} app is running!</span>
</div>

<app-default-a></app-default-a>
<app-default-b></app-default-b>
<app-default-c-input-output></app-default-c-input-output>
<app-default-c-input-output-larger></app-default-c-input-output-larger>
<app-default-d-test-bed></app-default-d-test-bed>
<app-default-e-dom-testing></app-default-e-dom-testing>
<app-default-f-component-binding></app-default-f-component-binding>
<app-default-f-component-binding-automatic-change-detection></app-default-f-component-binding-automatic-change-detection>
<app-default-f-component-binding-dispath-event></app-default-f-component-binding-dispath-event>
<app-default-g-with-dependency-a-partial></app-default-g-with-dependency-a-partial>
<app-default-g-with-dependency-b-async></app-default-g-with-dependency-b-async>
